@import '../../../../form.component';


.modal-dialog {
  
    max-width: 90% !important;
  }

  
#search-dspace-gnd-title {
    margin-bottom: 10px;
  }
  
  #search-dspace-gnd-hint {
    font-size: 16px;
    color: #888;
  }
  
  .container-fluid {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
  
  }
  
  .modal-header {
    background-color: #f8f9fa;
    padding: 15px;
    border-bottom: 1px solid #e9ecef;
  
    .close {
      font-size: 24px;
      color: #007bff;
    }
  }

  .search-box{
    width: 500px;
  }
  
  .modal-body {
    .container-fluid {
      
    }
  
    
  }
  
  