.dropdown-menu {
    font-size: 2rem;
    overflow: hidden;
    min-width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    ::ng-deep a.nav-link {
        padding-right: var(--bs-spacer);
        padding-left: var(--bs-spacer);
        white-space: nowrap;
    }
}

.dropdown-menu button {
    font-size: 5rem;
}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)) {
    .dropdown-toggle {
        &:after {
            float: right;
            margin-top: calc(var(--bs-spacer) / 2);
        }
    }
    .dropdown-menu {
        border: 0;

    }
}

.close {
    font-weight: 100;
}

.row.mx-5 {
    justify-content: center;
}

@media (min-width: 576px) {
    .col-md-12.px-5 {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .col-md-12.px-5 {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .col-md-12.px-5 {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .col-md-12.px-5 {
        max-width: 1140px;
    }
}

.content-container {
    display: grid;
    align-items: center;
}

.content {
    text-align: right;
}

.content, .overlay {
    grid-area: 1 / 1;
}
