.dropdown-menu {
    overflow: hidden;
    min-width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    ::ng-deep a.nav-link {
        padding-right: var(--bs-spacer);
        padding-left: var(--bs-spacer);
        white-space: nowrap;
    }
}



