:host {
  footer {

    background-color: var(--ds-footer-bg);
    text-align: left;
    z-index: var(--ds-footer-z-index);


    .top-footer {
      background-color: var(--ds-top-footer-bg);
      padding: var(--ds-footer-padding);
      margin: calc(var(--ds-footer-padding) * -1);

      h5 {
        padding-bottom: 10px;
        border-bottom: 1px $secondary solid;
      }

      li {
        margin-bottom: 10px;
      }

      ul[class*="two-col"] {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
      }
    }

    .bottom-footer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

