.file-box {
  box-shadow: 0px 0px 3px 3px #b8b8b8;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.box-entry {
  display: flex;
  align-items: center;
}

.link {
  margin-left: auto;
}

.button {
  background-color: #ffe600;
  border: none;
  padding: 0.5rem;
}
