<ds-metadata-field-wrapper [label]="label | translate">
    <ng-container *ngFor="let mdValue of mdValues; let last=last;">
      <ng-container *ngTemplateOutlet="(renderMarkdown ? markdown : (hasLink(mdValue) ? link : simple)); context: {value: mdValue.value}">
      </ng-container>
      <span class="separator" *ngIf="!last" [innerHTML]="separator"></span>
    </ng-container>
</ds-metadata-field-wrapper>

<ng-template #markdown let-value="value">
  <span class="dont-break-out" [innerHTML]="value | dsMarkdown | async">
  </span>
</ng-template>

<ng-template #link let-value="value">
    <a class="dont-break-out" target="_blank" [href]="value">
      {{value}}
    </a>
</ng-template>

<ng-template #simple let-value="value">
  <span *ngIf="browseDefinition == undefined || browseDefinition == null" class="dont-break-out preserve-line-breaks">{{value}}</span>
  <a *ngIf="browseDefinition !== undefined && browseDefinition !== null" class="dont-break-out preserve-line-breaks"
     href="/browse/{{browseDefinition.id}}?{{(browseDefinition.metadataBrowse?'value':'startsWith')}}={{value}}&bbm.page=1">
    {{value}}
  </a>
</ng-template>
