img {
  width: 4.5rem;
}

.col-md-3 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-md-3 .item {
  background-color: var(--ds-top-footer-bg);
  height: 10rem;
  margin: 0 0 1rem 0;
}

.col-md-3 .item {
  ::ng-deep a {
    display: block;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
  }
}

.col-md-3 .item:hover {
    ::ng-deep .move-right {
      position: absolute;
      right: 2.5rem;
      bottom: 2rem;
      transform: translate(1rem,0);
      -webkit-transform: translate(1rem,0); /** Chrome & Safari **/
      -o-transform: translate(1rem,0); /** Opera **/
      -moz-transform: translate(1rem,0); /** Firefox **/
      transition: all 300ms ease-in-out;
    }
}

.col-md-3 .item {
  ::ng-deep .move-right {
    position: absolute;
    right: 2.5rem;
    bottom: 2rem;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
    transition: all 300ms ease-in-out;
  }
}
