.file-box {
  box-shadow: 0 7px 14px #B8B8B8;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.box-entry {
  display: flex;
  align-items: center;
}

.link {
  margin-left: auto;
}

.btn {
  border-radius: initial;
}

.button {
  background-color: var(--GI-yellow);
  border: none;
  padding: 0.5rem;
}

.button:hover {
  background-color: var(--GI-yellow-dark);
}
