<a *ngIf="linkType != linkTypes.None"
   [target]="(linkType == linkTypes.ExternalLink) ? '_blank' : '_self'"
   rel="noopener noreferrer"
   [routerLink]="['/collections/' + object.id]"
   class="lead d-flex flex-row">
   <div class="left">
     <img *ngIf="thumbnailUrl" src="{{thumbnailUrl}}" alt="">
     <img *ngIf="!thumbnailUrl" src="../../../../../../assets/images/empty.svg" alt="">
   </div>
   <div class="right col">
    <h6 class="limit-text">{{object.name}}</h6>
    <div *ngIf="object.shortDescription" class="text-muted abstract-text limit-text">
        {{object.shortDescription}}
    </div>
    <p class="doc-amount txt-gr">
      {{numberSub | async}} {{ "gi.number.items.label" | translate }}</p>
    <i class="fa fa-arrow-right move-right"></i>
   </div>
</a>
