:host {
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-item {
        padding-left: 20px;
    }
}

.pagination-masked {
    margin-bottom: 2rem;
}

:host ::ng-deep ngb-pagination a {
    color: #30C1FF;
    border: 1px solid transparent !important;
}

:host ::ng-deep ngb-pagination li.active a {
    background-color: transparent !important;
    color: black !important;
}
