<h2 class="pt-4">GI Zeitschriften</h2>
<div class="fields row">
  <div class="field-item row m-2">
    <div class="left">
    <img src="assets/images/project-placeholder.svg">
    </div>
    <div class="right col">
    <h6>Title</h6>
    <p class="txt-gr">Number of Docs</p>
    </div>
  </div>
  <div class="field-item row m-2">
    <div class="left">
      <img src="assets/images/project-placeholder.svg">
    </div>
    <div class="right col">
      <h6>Title</h6>
      <p class="txt-gr">Number of Docs</p>
    </div>
  </div>
  <div class="field-item row m-2">
    <div class="left">
      <img src="assets/images/project-placeholder.svg">
    </div>
    <div class="right col">
      <h6>Title</h6>
      <p class="txt-gr">Number of Docs</p>
    </div>
  </div>
  <div class="field-item row m-2">
    <div class="left">
      <img src="assets/images/project-placeholder.svg">
    </div>
    <div class="right col">
      <h6>Title</h6>
      <p class="txt-gr">Number of Docs</p>
    </div>
  </div>
</div>




