<h2 class="pt-4">GI Zeitschriften</h2>
<div class="fields row">
  <div class="field-item row m-2" *ngFor="let item of (uiConfigreq | async)?._embedded?.layoutgroups[1]?._embedded?.communities">
    <div class="left">
      <img src="assets/images/project-placeholder.svg" alt="{{ item.name }}">
    </div>
    <div class="right col">
      <a href="communities/{{item.uuid}}"><h6>{{ item.name }}</h6></a>
      <p class="txt-gr">Number of Docs</p>
    </div>
    <div class="box-arrow"><a href="communities/{{item.uuid}}"><img src="assets/images/arrow-right-short.svg" alt="{{ item.name }}"></a></div>
  </div>
</div>




