.navbar-toggler .navbar-toggler-icon {
  background-image: none !important;
  line-height: 1.5;
}

.navbar ::ng-deep {
  a {
    color: rgba(0, 0, 0, 0.65) !important;
    font-weight: 500 !important;

    // GI wants uppercase and 1rem fontsize in navbar.
    text-transform: uppercase;

    &:hover, &focus {
      color: black !important;
      text-decoration: none;
    }
  }
}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .navbar ::ng-deep {
    width: 100vw;
    background-color: var(--bs-white);
    position: absolute;
    overflow: hidden;
    height: 0;
    &.open {
      height: 100vh; //doesn't matter because wrapper is sticky
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .reset-padding-md {
    margin-left: calc(var(--bs-spacer) / -2);
    margin-right: calc(var(--bs-spacer) / -2);
  }
}

/* TODO remove when https://github.com/twbs/bootstrap/issues/24726 is fixed*/
.navbar-expand-md.navbar-container {
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    > .container {
      padding: 0 var(--bs-spacer);
    }
    padding: 0;
  }
}

.navbar-nav {
  ::ng-deep a.nav-link {
    color: var(--ds-navbar-link-color);
  }
  ::ng-deep a.nav-link:hover {
    color: var(--ds-navbar-link-color-hover);
  }
}

.navbar-nav {
  ::ng-deep .dropdown-menu {
    background-color: #ffe600;
    border-color: #ffe600;
    position: fixed;
    opacity: 1;
    z-index: 1000;
    overflow: auto;
    top: 4.75rem;
    right: 0;
    bottom: 0;
    left: 0;
    transition: none 0s ease 0s;
  }

  @media screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) {
    ::ng-deep .dropdown-menu {
      top: 3.5rem;
    }
  }
}
