.loginDropdownMenu, .logoutDropdownMenu {
  min-width: 330px;
  z-index: 1002;

}

.loginDropdownMenu {
  min-height: 260px;
}

.dropdown-item.active, .dropdown-item:active,
.dropdown-item:hover, .dropdown-item:focus {
  background-color: transparent !important;
}

// GI: exception on header text-transform: uppercase for the login button
.btn {
  border-radius: initial;
  text-transform: none;
}

.btn-login {
  color: #212529;
  background-color: #ffe600;
  border-color: #ffe600;
}

.btn-login:hover {
  color: #212529;
  background-color: #{darken(#ffe600, 15%)};
  border-color: #{darken(#ffe600, 15%)};
}

.dropdown-toggle::after {
  content: unset;
}
