.loginDropdownMenu, .logoutDropdownMenu {
  min-width: 330px;
  z-index: 1002;

}

.loginDropdownMenu {
  min-height: 260px;
}

.loginSymbol {
  font-size: 1.25em;
  padding: 0.27em 0.2em 0.1em 0.2em;
  border-radius: 4px;
  line-height: 24px;
}


.dropdown-item.active, .dropdown-item:active,
.dropdown-item:hover, .dropdown-item:focus {
  background-color: transparent !important;
}

// GI: exception on header text-transform: NO uppercase for the login button
.btn {
  border-radius: initial;
  text-transform: none;
}

.btn-login {
  color: #212529;
  background-color: var(--GI-yellow);
  border-color: var(--GI-yellow);
}

.btn-login:hover {
  color: #212529;
  background-color: var(--GI-yellow-dark);
  border-color: var(--GI-yellow-dark);
}

.dropdown-toggle::after {
  content: unset;
}
