/*.field-item {
  background-color: #f1f1f1;
  color: #1c89f3;
  padding: 0.75rem;
  width: 220px;
  height: 90px;
  position: relative;
}


h6 {
  overflow: hidden;
  text-overflow: ellipsis;
}


.doc-amount {
  position: absolute;
  bottom: -0.8rem;
}

.field-item {
  ::ng-deep a {
    display: block;
    height: 100%;
    text-decoration: none;
  }
}

.field-item:hover {
  ::ng-deep .move-right {
    position: absolute;
    right: 0.6rem;
    bottom: 0.3rem;
    transform: translate(0.3rem,0);
    -webkit-transform: translate(0.3rem,0); !** Chrome & Safari **!
    -o-transform: translate(0.3rem,0); !** Opera **!
    -moz-transform: translate(0.3rem,0); !** Firefox **!
    transition: all 300ms ease-in-out;
  }
}

.right {
  padding: 0.75rem;
}

.field-item {
  ::ng-deep .move-right {
    position: absolute;
    right: 0.6rem;
    bottom: 0.3rem;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); !** Chrome & Safari **!
    -o-transform: translate(0,0); !** Opera **!
    -moz-transform: translate(0,0); !** Firefox **!
    transition: all 300ms ease-in-out;
  }
}*/

.limit-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

img {
  width: 4rem;
  height: 100%;
  object-fit: cover;
}

h6 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.doc-amount {
  position: absolute;
  bottom: -0.5rem;
}

a {
  background-color: var(--ds-top-footer-bg);
}


