.limit-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

img {
  width: 4rem;
  height: 100%;
  object-fit: cover;
}

h6 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.doc-amount {
  position: absolute;
  bottom: -0.5rem;
}

a {
  background-color: var(--ds-top-footer-bg);
}


