<ds-themed-home-news></ds-themed-home-news>
<div class="container">
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>
  <ds-newest-collections></ds-newest-collections>
  <ds-authors-with-most-docs></ds-authors-with-most-docs>
  <div class="row">
    <ds-popular-docs class="col"></ds-popular-docs>
    <ds-frequent-downloads class="col"></ds-frequent-downloads>
  </div>
  <ds-gi-fields></ds-gi-fields>
  <ds-gi-magazines></ds-gi-magazines>
  <ds-lecture-notes></ds-lecture-notes>
</div>
