<button class="btn" type="button" (click)="searchExpanded ? collapse() : expand()">
  <em class="fas fa-search fa-fw"></em>
  <span>SUCHE</span>
</button>

<div @slide [hidden]="!searchExpanded" id="layer" class="overlay container-fluid">
    <div class="row mx-1 mt-3">
      <div class="col-md-12">
        <button type="button" class="close" aria-label="Close" (click)="collapse()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 search-field">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)" autocomplete="on">
          <div>
            <input #searchInput [@toggleAnimation]="isExpanded" [attr.aria-label]="('nav.search' | translate)" name="query"
                   formControlName="query" type="text" placeholder="{{searchExpanded ? ('nav.search' | translate) : ''}}"
                   class="bg-transparent form-control">
          </div>
          <div class="go-search">
            <a class="submit-icon" [routerLink]="" (click)="onSubmit(searchForm.value)">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </div>
        </form>
        <hr>
      </div>
    </div>
</div>
