<header>
  <div class="container">
    <div class="d-flex flex-row justify-content-between">
      <a class="navbar-brand my-2" routerLink="/home">
        <img src="assets/gi/images/GI_DL_Logo_links.png" [attr.alt]="'menu.header.image.logo' | translate"/>
      </a>

      <nav role="navigation" [attr.aria-label]="'nav.user.description' | translate" class="navbar navbar-light navbar-expand-md flex-shrink-0 px-0">
        <ds-gi-search-navbar class="mr-3 navbar-search"></ds-gi-search-navbar>
        <ds-themed-navbar></ds-themed-navbar>

        <!--
        <ds-navbar></ds-navbar>
        -->

        <div class="navbar-toggler mr-3 ml-0" type="button" (click)="toggleNavbar()"
             aria-controls="collapsingNav"
             aria-expanded="false" [attr.aria-label]="'nav.toggle' | translate">
          <span class="navbar-toggler-icon fas fa-bars fa-fw" aria-hidden="true"></span>
        </div>
        <ds-gi-language-switcher></ds-gi-language-switcher>
        <ds-auth-nav-menu-ges-info></ds-auth-nav-menu-ges-info>
        <ds-impersonate-navbar></ds-impersonate-navbar>

      </nav>
    </div>
  </div>
</header>
