header {
  height: 5rem;
  border-bottom: solid 1px black;
}

.navbar-brand img {
  max-height: var(--ds-header-logo-height);
  max-width: 100%;
  @media screen and (max-width: map-get($grid-breakpoints, sm)) {
    max-height: var(--ds-header-logo-height-xs);
  }
}



