<div class="container">

  <h1>{{ 'info.imprint.head' | translate }}</h1>
  <br>
  <h2>Diese Digitale Bibliothek wird betrieben vom</h2>
  <p>
    Gesellschaft für Informatik e.V. (GI)<br>
    Wissenschaftszentrum<br>
    Ahrstraße 45<br>
    53175 Bonn<br>
    Tel:&nbsp;&nbsp;+49-(0)228-302 145<br>
    Fax:&nbsp;&nbsp;+49-(0)228-302 167<br>
    Web:  <a target="_blank" href="http://www.gi.de">www.gi.de</a>
  </p>
  <br>
  <h2>Technische Betreuung</h2>
  <p>
    IT-Support<br>
    Geschäftsstelle der Gesellschaft für Informatik<br>
    Wissenschaftszentrum<br>
    Ahrstraße 45<br>
    53175 Bonn<br>
    E-Mail: it@gi.de<br>
  </p>
  <br>
  <h2>Entwicklung, Test und Pilotierung</h2>
  <p>Prof. Dr. Michael Herczeg,<br>
    Christian Wolters,<br>
    Philipp Bohnenstengel,<br>
    Moritz Flucht,<br>
    Florian König<br>
    Universität zu Lübeck<br>
    Institut für Multimediale und Interaktive Systeme (IMIS)<br>
    Ratzeburger Allee 160<br>
    23562 Lübeck<br>
    E-Mail: office@imis.uni-luebeck.de
  </p>
  <br>
  <h2>Interaktionsdesign</h2>
  <p>
    Dr. Martin Christof Kindsmüller,<br>
    Dirk Karsten, Bernd Schimmer<br>
    Universität Hamburg<br>
    Fakultät für Mathematik, Informatik und Naturwissenschaften<br>
    Fachbereich Informatik<br>
    Studiengang MCI<br>
    Vogt-Kölln-Straße 30<br>
    22527 Hamburg
  </p>
  <br>
  <h2>Haftungshinweis</h2>
  <p>Bitte sehen Sie hierzu die <a href="http://www.gi.de/allgemein/datenschutzerklaerung.html" target="_blank">Datenschutzerklärung</a> der Gesellschaft für Informatik.</p>
  <br>

</div>
