.comcol-browse-panel {
  display: flex;
  justify-content: start;
  // margin-bottom: 1rem;
  font-size: 0.9em;

}

.comcol-browse-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  border: transparent;
  color: var(--GI-content-link);
}

.list-group-item {
  padding: 5px 10px;
}

.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0;
}

