// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.75);
}

h6 {
  font-size: 13px;
  color: $blue;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

a {
  text-decoration: none!important;
}

.lead {
  font-size: 0.8em;
}

.txt-gr {
  color: gray;
  font-weight: 400;
  font-size: 12px;
}

.txt-bl {
  color: $blue;
  font-weight: 400;
  font-size: 12px;
}


// GI specific overrides
.btn-lg, .btn-group-lg > .btn {
  font-size: 1rem;
}

.form-control-lg {
  font-size: 1rem;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: transparent;
}

.content-with-optional-title {
  a {
    color: gray;
  }
}

.main-content {
  margin-top: 0;
}

.line {
  border-top: 1px solid;
  color: grey;
  margin-top: 0.3em;
  margin-bottom: 1.5em;
}

.collapseButton, .expandButton {
  font-size: 0.8em !important;
}

// Pagination Component
.page-link {
  font-weight: 300;
  position: relative;
  display: block;
  // padding: 0.5rem 0.75rem;
  padding: 0.2rem;
  // margin-left: -1px;
  margin: 0;
  line-height: 1.25;
  color: var(--GI-content-link);
  background-color: #fff;
  border: 0;
}

.page-item.active .page-link {
  z-index: 1;
  color: var(--GI-content-link-active);
  font-weight: 600;
  background-color: transparent;
  border-color: transparent;
}

// a hack to trick the pagination component to the right
.pagination.justify-content-center {
  justify-content: right !important;
}

.pagination-masked.clearfix {
  margin-top: -0.6em;
}

.btn-secondary {
  color: $primary;
  background-color: unset;
  border: none;
  box-shadow: none;
  padding: 0;
  margin-top: -2em;
}

.btn-secondary:hover {
  color: var(--GI-content-link);
  background-color: transparent;
  border: none;
}
