// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

h2 {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.75);
}

h6 {
  font-size: 13px;
  color: $blue;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

a {
  text-decoration: none!important;
}

.txt-gr {
  color: gray;
  font-weight: 400;
  font-size: 12px;
}

.txt-bl {
  color: $blue;
  font-weight: 400;
  font-size: 12px;
}

