.field-item {
  background-color: #f1f1f1;
  color: #1c89f3;
  padding: 0.75rem;
  width: 260px;
  height: 120px;
  position: relative;
}

.doc-amount {
  position: absolute;
  bottom: -4px;
}

.field-item {
  ::ng-deep a {
    display: block;
    height: 100%;
    text-decoration: none;
  }
}

.field-item:hover {
  ::ng-deep .move-right {
    position: absolute;
    right: 1.2rem;
    bottom: 0.75rem;
    transform: translate(0.5rem,0);
    -webkit-transform: translate(0.5rem,0); /** Chrome & Safari **/
    -o-transform: translate(0.5rem,0); /** Opera **/
    -moz-transform: translate(0.5rem,0); /** Firefox **/
    transition: all 300ms ease-in-out;
  }
}

.right {
  padding: 0.75rem;
}

.field-item {
  ::ng-deep .move-right {
    position: absolute;
    right: 1.5rem;
    bottom: 0.75rem;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
    transition: all 300ms ease-in-out;
  }
}
